.FaIcons {
  
  color: rgb(25, 146, 227);
  z-index: 100;
}
.popupDetail {
  width: 180px;
}
.popupImg {
  width: 100%;
}
.mapBoxAv{
  position: relative;
}
.mapBoxAvInput{
  position: absolute;
  z-index: 10;
  margin: 20px;
  width: 330px;
  height: 35px;
  border-radius: 20px;
  background-color: white; 
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mapBoxAvInput input{
  height: 100%;
  border: none;
  width: 80%;
  padding: 10px;
}

.mapBoxAvInput .inputIcon{
  color: rgb(25, 146, 227);
  cursor: pointer;
}