.placeDetailContainer {
  padding-top: 10px;
  padding-bottom: 20px;
  width: 100%;
}

.placeDetailImg {
  width: 100%;
  border-radius: 5px;
}

.placeBoxDetail {
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.placeBoxDetail > span {
  font-size: 12px;
}
.pdavIcon{
  color: #f06587;
}